.about_block_container{
	margin-top: 100px;
	.about_block_wrapper{
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		gap: 30px;
		height: 400px;
		overflow: hidden;
	}
	.about_block_content{
		flex: 1;
	}
	.about_block_img_wrapper{
		flex: 1;
		border-radius: 20px;
		overflow: hidden;
		.about_block_img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.info{
		font-size: 18px;
		line-height: 24px;
		color: #2C3E50;
		white-space: normal;
	}
	.more-btn{
		margin-top: 15px;
	}
}