.about-container{
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	
	font-size: 24px;
	line-height: 32px;
	color: #2C3E50;
	.about-content{
		margin-top: 20px;
		p{
			text-indent: 60px;
		}
		ul{
			li{
				text-indent: 60px;
				list-style: disc;
				list-style-position: inside;
			}
		}
		.block-with-img{
			display: flex;
			flex-direction: row;
			align-items: center;
			p{
				width: 50%;
			}
			.about-img-wrapper{
				width: 50%;
				.about-img{
					height: 90%;
					width: 90%;
					border-radius: 20px;
				}
			}
		}
	}
}
