.about-container{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: $size4;
	line-height: $lh4;
	color: #2C3E50;
	.about-content{
		margin-top: 20px;
		p{
			text-indent: 40px;
		}
		ul{
			li{
				text-indent: 40px;
				list-style: disc;
				list-style-position: inside;
			}
		}
		.about-img-wrapper{
			border-radius: 20px;
			overflow: hidden;
			height: 340px;
			float: right;
			margin: 20px;
			.about-img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
