// @media (max-width:1200px){
	
// }

// @media (max-width:992px){
	
// }

@media (max-width:767px) {
	.about-container {

		.about-content {
			p {
				text-indent: 20px; // 40
			}

			ul li {
				margin-top: 2px; // 5
				text-indent: 20px; // 40
			}

			.about-img-wrapper {
				height: 300px; // 340
				float: none; // right
				margin: 10px 0; // 20
			}
		}
	}
}
