$size1: 28px;
$size2: 20px;
$size3: 18px;
$size4: 16px;
$size5: 14px;
$size6: 10px;

$lh1: 33px;
$lh2: 23px;
$lh3: 21px;
$lh4: 19px;
$lh5: 16px;
$lh6: 12px;

$color1: #9C3D5F;
$color2: #C57F9B;
$color3: #DCBDC2;
$color4: #A3B971;
$color5: #7C92A0;
$color6: #FFFFFF;
$color7: #000000;

$colorYoutube: #FF0000;
$colorVk: #0077FF;
$colorTelegram: #23A0DD;
