.feedback_container {
	margin-top: 100px;
	margin-bottom: 50px;
}

.accordion_wrapper {
	.accordion_item {
		margin-top: 20px;
		padding: 10px 15px;
		border-radius: 20px;
		border: 1px solid #C4C4C4;
		cursor: pointer;

		.accordion_title {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			span {
				text-transform: uppercase;
			}

			img {
				width: 20px;
				transition: transform 0.3s ease-out;
			}
		}

		.accordion_content {
			overflow: hidden;
			max-height: 30px;
			transition: max-height 0.3s ease-out;

			p {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}

	.accordion_item.active {
		.accordion_title {
			img {
				transform: rotate(180deg);
			}
		}
	}
}