.feedback_container{
	margin-top: 100px;
	margin-bottom: 50px;
}
.accordion_wrapper{
	.accordion_item{
		margin-top: 20px;
		padding: 10px 15px;
		border-radius: 20px;
		border: 1px solid #C4C4C4;
		cursor: pointer;
		.accordion_title{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			span{
				font-size: $size3;
				line-height: $lh3;
				text-transform: uppercase;
				color: #2C3E50;
				font-family: "Roboto-Bold";
			}
			img{
				width: 20px;
				transition: transform 0.3s ease-out;
			}
		}
		.accordion_content{
			font-size: $size4;
			line-height: $lh4;
			color: #2C3E50;
			overflow: hidden;
			max-height: 30px;
			transition: max-height 0.3s ease-out;

			p{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
	.accordion_item.active{
		.accordion_title{
			img{
				transform: rotate(180deg);
			}
		}
	}
}