footer {
	position: relative;
	background: $color1;
}

.footer-container {
	max-width: 1164px;	// 1140 + 24
	margin: 0px auto;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.footer-column {
		margin: 0 auto;
		padding: 0 12px;
		padding-top: 30px;
		
		span {
			font-size: $size2;
			line-height: $lh2;
			color: $color6;
		}

		.social-list {
			margin-top: 8px;
			display: flex;
			justify-content: space-around;

			a {
				display: flex;
				padding: 5px;
				color: $color6;

				svg {
					width: 30px;
					height: 30px;
					transition: all .3s ease;
					.black-fill {color: $color1;}
				}
			}

			a:hover {
				.vk_icon {
					color: $colorVk;
					transition: all .3s ease;
				}
				.youtube_icon {
					color: $colorYoutube;
					transition: all .3s ease;
				}
				.telegram_icon {
					color: $colorTelegram;
					transition: all .3s ease;
				}
				.black-fill {
					color: $color6;
					transition: all .3s ease;
				}
			}
		}

		.footer-menu {
			li {
				margin-bottom: 25px;

				a {
					color: $color6;
					font-size: $size2;
					line-height: $lh2;
				}

				a:hover {
					text-decoration: underline;
				}
			}
			li:last-child {
				margin-bottom: 0;
			}
		}

		.footer-btn {
			display: inline-block;
			border-radius: 4px;
			text-align: center;
			font-size: $size2;
			line-height: $lh2;
			color: $color1;
			padding: 9px 36px;
			background-color: $color6;
			margin-top: 15px;
			transition: all .3s ease;
		}

		.footer-btn:hover {
			background-color: $color5;
			color: $color6;
			transition: all .3s ease;
		}

		.first-row {
			display: flex;
			flex-direction: column;
		}

		.second-row {
			display: flex;
			flex-direction: column;
			margin-top: 30px;
		}
	}
}

@import "footer-media";