.gallery_categories_container {
	margin-top: 50px;
	margin-bottom: 50px;

	.title_row {
		display: flex;
		flex-direction: row;
		align-items: flex-end;

		.subtitle {
			margin-left: 30px;
		}
	}

	.gallery_grid {
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;

		.gallery_grid_item {
			.gallery_photo_wrapper {
				height: 150px;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.75);
				border-radius: 4px;

				.gallery_photo {
					object-fit: contain;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}
