// header{
// 	position: relative;
// }

.header_content_wrapper{
	position: relative;
	background: #2C3E50;
	background: linear-gradient(to right, #2980B9, #2C3E50);
}

.header_menu_wrapper{
	position: relative;
	background: #66BDF5;
}

.header_container{
	max-width: 1140px; // 1140px
	margin: 0px auto;
}

.header_caption_wrapper{
	display: flex;
	justify-content: flex-end;
	span{
		margin-top: 12px;
		color: #FFFFFF;
		font-size: 18px;
		line-height: 24px;
	}
}

.header_content{
	margin-top: -5px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_logo{
	height: 138px;
}

.header_title{
	color: #FFFFFF;
	text-align: center;
	span{
		font-size: 18px;
		line-height: 24px;
	}
	h1{
		margin-top: 3px;
		font-size: 36px;
		line-height: 42px;
		font-family: "Roboto-Medium";
	}
}

.info_block{
	display: flex;
	flex-direction: column;
	ul{
		display: flex;
		justify-content: space-between;
	}
	span,a{
		margin-top: 5px;
		font-size: 18px;
		line-height: 24px;
		color: #FFFFFF;
		align-self: flex-end;
	}
}

.header_nav{
	display: flex;
	align-items: center;
	height: 60px;
	ul{
		flex: 1;
		display: flex;
		justify-content: space-between;
	}
	a{
		text-transform: uppercase;
		font-size: 24px;
		font-family: "Roboto-Bold";
		line-height: 32px;
		color: #FFFFFF;
	}
	a:hover{
		text-decoration: underline;
	}
}