@media (max-width:1200px){
	.header_container {
		max-width: 994px; // 970 + 24
	}
}

// @media (max-width:992px){
// 	.header_container {
// 		max-width: 774px; // 750 + 24
// 	}
// }

@media (max-width:767px){
	.header_container {
		max-width: none;
	}
	
	.header_menu_wrapper {
		// display: none;
		position: fixed;
		top: 0;
		right: -90%;
		width: 90%;
		height: 100%;
		z-index: 2;
		transition: all 0.3s ease;
		// transform-origin: top right;
		// transform: scaleX(0.5);

		.header_topmenu {
			flex-direction: column;
		}
	}

	.header_menu_wrapper.active {
		right: 0;
		transition: all 0.3s ease;
	}

	.header_content {
		flex-direction: column;
		padding: 5px 45px;

		.main_logo_wrapper {
			display: none;
		}

		.header_title {
			h3 {
				font-size: $size4; // 2
				line-height: $lh4;
				font-family: "Roboto-Regular";
			}

			.main_logo_wrapper {
				display: block;
				height: 80px;
			}

			span {
				font-size: $size4; // 3
				line-height: $lh4;
			}

			h2 {
				font-size: $size3; // 1
				line-height: $lh3;
			}
		}

		.info_block {
			display: none;
		}

		.header_burger {
			display: block;
		}
	}
}