.header_content_wrapper {
	position: relative;
	background: $color1;
	border-bottom: 5px solid $color4;
}

.header_menu_wrapper {
	position: relative;
	background: $color2;
}

.header_container {
	max-width: 1164px;	// 1140 + 24
	padding: 0 12px;
	margin: 0 auto;
}

.header_content {
	display: flex;
	align-items: center;
	padding: 5px 0;

	.main_logo_wrapper {
		transform: translateX(-40px);
		height: 90px;
		img {width: 100%; height: 100%; object-fit: contain;}
	}

	.header_title {
		flex: 1;
		color: $color6;
		text-align: center;

		h3 {
			font-size: $size2;
			line-height: $lh2;
			font-family: "Roboto-Medium";
		}

		.main_logo_wrapper {
			display: none;
			margin-top: 5px;
			margin-left: 0;
		}

		span {
			display: block;
			font-size: $size3;
			line-height: $lh3;
			margin-top: 20px;
		}

		h2 {
			margin-top: 3px;
			font-size: $size1;
			line-height: $lh1;
			font-family: "Roboto-Medium";
		}
	}

	.info_block {
		display: flex;
		flex-direction: column;
		align-items: center;

		.second_logo_wrapper {
			margin-bottom: 5px;
			height: 60px;
			img {width: 100%; height: 100%; object-fit: contain;}
		}

		span, a {
			margin-bottom: 5px;
			font-size: $size3;
			line-height: $lh3;
			color: $color6;
		}

		a:hover {
			text-decoration: underline;
		}

		ul {
			display: flex;
			justify-content: space-around;
			width: 100%;

			a {
				display: flex;
				padding: 5px;
				
				svg {
					width: 25px;
					height: 25px;
					transition: all .3s ease;
					.black-fill {color: $color1;}
				}
			}

			a:hover {
				.vk_icon {
					color: $colorVk;
					transition: all .3s ease;
				}
				.youtube_icon {
					color: $colorYoutube;
					transition: all .3s ease;
				}
				.telegram_icon {
					color: $colorTelegram;
					transition: all .3s ease;
				}
				.black-fill {
					color: $color6;
					transition: all .3s ease;
				}
			}
		}
	}

	.header_burger {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
	}

	.mobile_menu_wrapper {
		background: $color2;
		position: fixed;
		overflow: auto;
		padding: 15px 0;
		top: 0;
		right: -90%;
		width: 90%;
		height: 100%;
		z-index: 2;
		transition: all 0.3s ease;

		.info_block {
			display: flex;

			ul {
				max-width: 70%;

				svg {
					width: 30px; // 25px
					height: 30px; // 25px
				}
			}
		}

		.mobile_menu {
			li {
				text-transform: uppercase;
				font-size: $size3;
				line-height: $lh3;
				font-family: "Roboto-Bold";
				color: $color6;
			}

			svg {
				margin-left: 5px;
				width: 20px;
				height: 20px;
				color: $color6;
				transform: rotate(270deg);
				transition: all 0.3s ease;
			}

			a {
				padding: 15px;
				display: flex;
				align-items: center;
				color: $color6;
			}

			.mobile_submenu {
				display: flex;
				flex-direction: column;
				overflow: hidden;
				max-height: 0;
				transition: all .3s ease;

				li a {
					padding-left: 30px;
					text-transform: none;
					font-size: $size4;
					line-height: $lh4;
					font-family: "Roboto-Medium";
				}
			}

			li.active_mobile_item {
				.main_link {
					color: $color1;
					transition: all .2s ease;
				}

				.mobile_submenu {
					transition: all .3s ease;
				}

				svg {
					color: $color1;
					transform: rotate(90deg);
					transition: all 0.3s ease;
				}
			}
		}
	}

	.mobile_menu_wrapper.active {
		right: 0;
		transition: all 0.3s ease;
	}
}

.header_nav {
	.header_topmenu {
		display: flex;
		justify-content: space-between;

		li {
			text-transform: uppercase;
			font-size: $size3;
			line-height: $lh3;
			font-family: "Roboto-Bold";
			color: $color6;
		}

		svg {
			margin-left: 3px;
			width: 20px;
			height: 20px;
			color: $color6;
			transform: rotate(270deg);
			transition: all 0.3s ease;
		}

		a {
			padding: 12px;
			display: flex;
			align-items: center;
			color: $color6;
			transition: all .2s ease;
		}

		.header_submenu {
			position: absolute;
			background-color: $color2;
			display: flex;
			flex-direction: column;
			top: 100%;
			z-index: 2;
			transform-origin: 0 0;
			transform: scaleY(0);
			transition: all .3s ease;

			li a {
				text-transform: none;
				font-size: $size4;
				line-height: $lh4;
				font-family: "Roboto-Medium";
			}
		}

		@media (hover: hover) and (pointer: fine) {
			li:hover {
				.main_link {
					color: $color1;
					transition: all .2s ease;
				}

				.header_submenu {
					transform: scaleY(1);
					transition: all .3s ease;

					a:hover {
						color: $color1;
					}
				}

				svg {
					color: $color1;
					transform: rotate(90deg);
					transition: all 0.3s ease;
				}
			}
		}

		

		@media (hover: none) and (pointer: coarse) {
			li.active_mobile_item {
				.main_link {
					color: $color1;
					transition: all .2s ease;
				}

				.header_submenu {
					transform: scaleY(1);
					transition: all .3s ease;

					a:hover {
						color: $color1;
					}
				}

				svg {
					color: $color1;
					transform: rotate(90deg);
					transition: all 0.3s ease;
				}
			}
		}
	}
}

@import "header-media";
