header{
	position: relative;
	background: #2C3E50;
	background: linear-gradient(to right, #2980B9, #2C3E50);
	// background-color: #2980B9;
}

.container{
	max-width: 1200px; // 1140px
	margin: 0px auto;
	display: flex;
	// padding: 0px 150px;
	// padding-left: 150px;
	// padding-right: 150px;
	// justify-content: center;
	align-items: flex-end;

	.header_logo{
		height: 138px;
		margin-bottom: -25px;
	}
}

@import "header-media";

.header_right{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	// justify-content: flex-end;
	// background-color: green;
}

.info_block{
	// width: 100%;
	margin-top: 12px;
	background: #2980B9;
	display: flex;
	justify-content: space-around;
	align-items: center;
	// width: 50%;
	padding: 10px 22px;
	margin-bottom: 10px;
	border-radius: 4px;

	.info_block_left{
		padding-right: 20px;
		ul{
			display: flex;
			// background-color: gray;
			margin-bottom: 3px;
			justify-content: space-between;
		}
		span{
			font-size: 18px;
			line-height: 24px;
			color: #FFFFFF;
		}
	}

	.info_block_right{
		// background-color: green;
		padding-left: 20px; 
		a{
			font-size: 24px;
			line-height: 32px;
			color: #FFFFFF;
			// white-space: pre-wrap;
		}
	}
}

.header_nav{
	width: 100%;
	// background-color: green;
	padding-left: 14px;
	ul{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
		// background-color: red;
	}
	a{
		text-transform: uppercase;
		font-size: 24px;
		font-family: "RobotoMono-Bold";
		line-height: 32px;
		color: #FFFFFF;
	}
}