.news-detail-container{
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	.controls{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.news-date{
			display: flex;
			flex-direction: row;
			align-items: center;
			span{
				margin-left: 10px;
				font-size: 18px;
				line-height: 24px;
				color: #2C3E50;
			}
		}
	}
	.news-title{
		margin-top: 20px;
		font-size: 32px;
		line-height: 42px;
		font-weight: bold;
		color: #298089;
	}
	.news-detail-img-wrapper{
		margin-top: 20px;
		height: 398px;
		.news-detail-img{
			height: 100%;
			width: 100%;
			border-radius: 20px;
			object-fit: cover;
		}
	}
	.news-detail-text{
		margin-top: 20px;
		p{
			font-size: 24px;
			line-height: 32px;
			color: #2C3E50;
			text-indent: 60px;
		}
	}
}