.news-list-container{
	margin-top: 50px;
	margin-bottom: 50px;
}

.news-list-content{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news-list-item{
	margin-bottom: 20px;
	display: flex;
	border-radius: 20px;
	border: 1px solid #C4C4C4;
	overflow: hidden;
	padding: 10px 15px;
	gap: 15px;
	height: 255px;
	transition: all .3s ease;
	.news-list-img-wrapper{
		flex: 1;
		border-radius: 20px;
		overflow: hidden;
		.news-list-img{
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all .3s ease;
		}
	}
}

.news-list-item:hover{
	.news-list-img-wrapper{
		.news-list-img{
			transform: scale(1.1, 1.1);
			transition: all .3s ease;
		}
	}
	box-shadow: 0px 2px 10px 0px rgba(44, 62, 80, 0.75);
	transition: all .3s ease;
}

.news-list-post{
	display: flex;
	flex-direction: column;
	flex: 2;
	.post-title{
		font-size: $size3;
		line-height: $lh3;
		font-family: "Roboto-Bold";
		color: #2C3E50;
		text-transform: uppercase;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.post-content-wrapper{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		.post-content{
			font-size: $size4;
			line-height: $lh4;
			color: #2C3E50;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		.post-date{
			font-size: $size4;
			line-height: $lh4;
			color: #2C3E50;
			padding-top: 20px
		}
	}
}