.photogallery-container{
	margin-top: 100px;
}
.photogallery_title{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.photo_categories{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	.category_group{
		display: flex;
		flex-direction: column;
		align-items: center;
		// border: 2px dashed red;
		.photo_category_wrapper{
			height: 262px;
			width: 100%;
			.photo_category_img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px;
			}
		}
		.category_caption{
			margin-top: 15px;
			font-size: 24px;
			line-height: 32px;
			color: #2C3E50;
		}
	}	
}

