@media (max-width:1200px){
	
}

@media (max-width:992px){
	.swiper {
		height: 384px;

		.swiper-button-prev, .swiper-button-next {
			width: 30px;
			height: 30px;
			border-radius: 30px;
		}

		.swiper-button-prev:after, .swiper-button-next:after {
			font-size: $size5;
		}
	}
}

@media (max-width:767px) {
	.swiper {
		height: 304px;

		.swiper-button-prev,.swiper-button-next {
			display: none;
		}
	}
}