@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "constants";
@import "fonts";
@import "default";

//main
@import "header";
@import "slider";
@import "news_block";
@import "photogallery";
@import "about_block";
@import "team_block";
@import "feedback_block";
@import "footer";

//news
@import "news_list";
@import "news_detail";

//contacts
@import "contacts";

//about
@import "about";

//team
@import "team";

//photogallery
@import "gallery";

//popup
@import "popup";

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header,footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
}

@import "global_classes";
