@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
@import "default";

//main
@import "header";
@import "slider";
@import "news_block";
@import "photogallery";
@import "info-comand-about";
@import "footer";

//news
@import "news_list";

.main-wrapper{
	max-width: 1140px; // 1140px
	margin: 0px auto;
}

.title{
	font-size: 32px;
	font-family: "RobotoMono-Bold";
	color: #2980B9;
}

.btn{
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #C4C4C4;
	padding: 7px 38px;
	font-size: 18px;
	color: #2C3E50;
}

