@media (max-width:1200px){

}

@media (max-width:992px){
	
}

@media (max-width:767px) {
	.team_block_container {
		.team_block_wrapper {
			flex-direction: column;
		}

		.team_block_content {
			margin-right: 0px; // 15
			order: 2;
		}

		.team_block_img_wrapper {
			margin-bottom: 10px;
			height: 255px;
			margin-left: 0px; // 15
			flex: none;

			.team_block_img {
				object-fit: contain;
			}
		}
	}
}